@model List<UserPostsViewModel>

@{
    ViewBag.Title = "User posts";
}

@if (!Model.Any())
{
    <div class="container">
        No data found
    </div>
}
else
{
    <div class="container">

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Post title</th>
                    <th scope="col">Categories</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model)
                {
                    <tr id="@("post" + post.Id)">
                        <td>@post.Title</td>
                        <td>
                            @foreach (var category in post.Categories)
                            {
                                <span>@category.Name</span>
                            }
                        </td>
                        <td>
                            <a class="btn btn-success" asp-controller="Home" asp-action="UpdatePost" asp-route-id="@post.Id">Edit</a> |
                            <button class="btn btn-danger" onclick="ConfirmDelete(@post.Id)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <input type="hidden" id="postId" />

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Post</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this post ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="deletePost()">Confirm</button>
                </div>
            </div>
        </div>
    </div>



    @section Scripts {
        <script>

            function ConfirmDelete(postId) {
                $("#postId").val(postId);
                $("#myModal").modal('show');
            }

            function deletePost() {
                var postId = $("#postId").val();

                $.ajax({
                    type: "POST",
                    url: "/Home/DeletePost",
                    data: { id: postId },
                    success: function (result) {
                        $("#myModal").modal("hide");
                        $("#post" + postId).remove();
                    }
                });
            }

        </script>
    }

}